body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
background-color: rgb(255, 255, 255);
}

header {
  background-color:  rgb(8, 13, 35);
  color: #a97c7c;
  padding: 25px;
  
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

nav li:nth(odd) {
  margin-left: auto;
}

nav li:nth-child(1) {
  margin-left: auto;
}
nav a {
  color: #fbfbfb;
  text-decoration: none;
 
}
#about {
  text-align: center;
}
nav h1{
  margin-left: auto;
}
section {
  padding: 50px;
}

#hero {
  background-image: url(hero.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

#hero h1 {
  font-size: 48px;
  margin-top: 0;
  
}

#hero p {
  font-size: 24px;

}
#hero li {
  font-size: 24px;

}

.button-hire {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;

}
.button-lrn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.item {
  border: 1px solid  rgb(8, 13, 35);
  padding: 20px;
  text-align: center;
 
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.item img {
  width: 100%;
  height: auto;
}

#contact form {
  display: flex;
  flex-direction: column;
}

#contact label {
  margin-bottom: 10px;
}

#contact input,
#contact textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

#contact button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#contact button:hover {
  background-color: #fff;
  color: #333;
}
#project {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

th, td {
  text-align: left;
  padding: 8px;
 
}

th {
  background-color:black;
  color: white;
}

tr:nth-child(even) {
  background-color:white;
}

 
tr:nth-child(odd) {
  background-color:white;
}
tr:hover {
  background-color:rgb(165, 208, 246);
}
.blinking-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  animation: blink 1s infinite;
}

@keyframes blink {
  8% {
    background-color: #fff;
    color: #333;
  }
}
img {
  border-radius: 35%;
  filter:drop-shadow(50);
}


.item:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}







.container1 {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.heading1 {
  text-align: center;
}

.Technical-bars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.info {
  margin-right: 10px;
}

.progress-line {
  height: 10px;
  width: 70%;
  background-color: #ddd;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.progress-line span {
  display: block;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  left: 0;
  top: 0;
  animation: fill 2s forwards;
}

@keyframes fill {
  from {
    width: 0%;
  }
  to {
    widths: 100%;
  }
}

.html span {
  width: 90%;
  background-color: #324661;
}

.css span {
  width: 80%;
  background-color: #5881e1;
}

.Javascript span {
  width: 70%;
  background-color: #a7cef8;
}

.skills {
  height: 100%;
  border-radius: 20px;
  text-align: right;
  padding: 0 10px;
  color: white;
  font-weight: bold;
  background-color: #4CAF50;
}

